<div *ngIf="showLoader " 
	style="float: right; font-size: 120; color: blue">
	Siamo al {{progressIndex.toFixed(2)}} attendere
</div>
<hr >
<div *ngIf="showLoader" id="spinner-wrapper">
	<mat-progress-bar 
	class="example-margin"
	[mode]="mode"
	[value]="progressIndex"
	[bufferValue]="90">
	</mat-progress-bar>
</div>
