#spinner-wrapper {
    width: 80%;
    min-height: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 170 ;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    z-index: 2000;
    background-color: black;
}


